jupyter
nbconvert
jupyterlab_pygments
pygments
amazon-braket-sdk
amazon-braket-default-simulator
boto3
botocore

numpy>=1.22
pandas>=1.4
matplotlib>=3.5
scikit-learn>=1.0
seaborn
pymatgen
matminer
pandas
numpy
matplotlib
seaborn
scikit-learn
pennylane

